# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

avon katalog inceleme sitesi. avon temmuz 2013 kataloğunu online incelemek için sizde sayfayı ziyaret edin.
avon temmuz kataloğu avon temmuz kataloğu avon temmuz kataloğu avon temmuz 2013 katalogu

avon 2013 temmuz katalogu online inceleme, avon temmuz 2013 katalogu

avon temmuz kataloğu linki: <a href"http://www.avon-katalog.net/avon-temmuz-2013-katalogu-avonkatalog/" <title="avon temmuz 2013 katalog"> avon temmuz katalogu</a>

